<p-dialog header="Build.Prop" *ngIf="display" [(visible)]="display" [height]="420"  [width]="700" modal="true" [contentStyle]="{'overflow':'scroll'}">
        <!-- {{ showBuild() }} -->
        <div class="propWrapper" [innerHTML]="prop"></div>
    </p-dialog>

<p-growl [(value)]="msgs"></p-growl>

<div class="loader" *ngIf="isLoading"><div class="loading-pulse"></div></div> 

<div class="wrapper">
<h2>Register Model</h2>

<form [formGroup]="modelRegister" (submit)="onModelRegister()">

  <div class="row">
      <div class="form-group">
          <label for="">Partner Name</label>
          <p-dropdown [options]="partners" formControlName="partnerName" (onFocus)="onFocus($event)"  (onChange)="onChange($event)"></p-dropdown>
        </div>

      <div class="form-group">
          <label for="">Device Model</label>
        <input type="text" formControlName="DeviceModel">
        </div>
  </div>

  <div class="tokenWrap" [innerHTML]="showToken()" *ngIf="token" #build>
  </div>


<div class="row button-row right">
    <button class="btn btn-success" type="submit" [disabled]="!modelRegister.valid">Save and Generate Token</button>
</div>
</form>
</div>

<div class="wrapper">
  <h2> Available Models </h2>
  <!-- <div class="ui-widget-header global-search" style="padding:4px 10px;border-bottom: 0 none">
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div> -->
    <p-dataTable [value]="models">
         <p-column field="partnerName" header="Partner Name" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
         <!-- <p-column field="id" header="Id" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column> -->
         <p-column field="DeviceModel" header="Device Model" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
         <p-column header="Token">
               <ng-template let-data="rowData" pTemplate="body">
                        <button type="text" (click)="showDialog(data)" pButton icon="fa-external-link-square" label="Generate Build.Prop"></button>
                    </ng-template>
         </p-column>
         
        </p-dataTable>
</div>
