<p-growl [(value)]="msgs"></p-growl>
<div class="loader" *ngIf="isLoading"><div class="loading-pulse"></div></div> 

<div class="wrapper">
<h2>Register Model</h2>

<form [formGroup]="modelRegister" (submit)="onModelRegister()">

  <div class="row">
      <div class="form-group">
          <label for="">Partner Name</label>
          <p-dropdown [options]="partners" formControlName="partnerName" (onFocus)="onFocus($event)"  (onChange)="onChange($event)"></p-dropdown>
        </div>

      <div class="form-group">
          <label for="">Device Model</label>
        <input type="text" formControlName="DeviceModel">
        </div>
  </div>


<div class="row button-row right">
    <button class="btn btn-success" type="submit" [disabled]="!modelRegister.valid">Save and Generate Token</button>
</div>
</form>
</div>

<div class="wrapper">
  <h2> Available Models </h2>
    <p-dataTable [value]="models">
         <p-column field="partnerName" header="Partner Name" [filter]="true" filterPlaceholder="Search"></p-column>
         <p-column field="id" header="Id" [filter]="true" filterPlaceholder="Search"></p-column>
         <p-column field="DeviceModel" header="Device Model" [filter]="true" filterPlaceholder="Search"></p-column>
    </p-dataTable>
</div>
