<!-- <p-table [value]="cars">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td *ngFor="let col of cols">
        {{car[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table> -->

<!-- <pre> {{ cols | json }} </pre>
<pre> {{ rows | json }} </pre> -->

<!-- <p-column *ngIf="col.label == 'Tests'" [field]="col.value" [header]="col.label">

</p-column> -->

<!-- <p-column field="partnerName" header="Partner Name"></p-column> -->
<!-- <p-column *ngFor="let col of cols" [field]="col.value" [header]="col.label"></p-column>
<p-column *ngFor="let col of cols" [field]="col.value" [header]="col.label"></p-column> -->


<!-- <ng-template pTemplate="header">
  <tr>
    <th *ngFor="let col of cols">
      {{col.label}}
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-row>
  <tr>
    <td *ngFor="let col of cols">
      {{row[col.value]}}
    </td>
  </tr>
</ng-template> -->



<p-dataTable [value]="rows">

  <ng-container *ngFor="let col of cols">

    <p-column *ngIf="col.label !== 'Tests'" [field]="col.value" [header]="col.label"></p-column>

    <p-column *ngIf="col.label == 'Tests'" [header]="col.label">
      <ng-template let-data="rowData" pTemplate="body">
        <ul>
          <li *ngFor="let test of data.Tests">
            <a (click)="onTextClick(test, data.id)">{{ test }}</a>
          </li>
        </ul>
      </ng-template>
    </p-column>

  </ng-container>

  <p-column [header]="'Action Buttons'" *ngIf="tableType == 'Active'">

    <ng-template let-data="rowData" pTemplate="body">
      <div class="action_button">
        <a class="pill pill-primary" (click)="newImei(data.id)">New</a>
<p-dropdown [(ngModel)]="selected_status" [options]="status" (onChange)="onStatusChange($event, data.id)"></p-dropdown>
      </div>
    </ng-template>

  </p-column>

</p-dataTable>
