.action_button {
  display: flex;
  min-width: 300px;
.pill {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.85rem;
      margin-right: 20px;
      flex: 0 0 30%;
}
}

.testWrap {
  display: flex;
  li {
        margin-right: 5px;
        background: #007bff;
        a {
              color: white;
              text-decoration: none;
              padding: 0.5rem;
              font-size: 0.75rem;
        }
  }
}
