<p-dataTable [value]="rows">

  <ng-container *ngFor="let col of cols">

    <p-column [field]="col.value" [header]="col.label"></p-column>

  </ng-container>

<p-column [header]="'Action Buttons'">

<ng-template let-data="rowData" pTemplate="body">
  <a (click)="actionButtonClick('more', data.id)">More</a>
<a (click)="actionButtonClick('edit', data.id)">Edit</a>
<a (click)="actionButtonClick('delete', data.id)">Delete</a>
<a (click)="actionButtonClick('push', data.id)">Push</a>

</ng-template>

  </p-column>
  <!-- <p-column [header]="'Action Buttons'" *ngIf="tableType == 'Active'">

    <ng-template let-data="rowData" pTemplate="body">
      <a (click)="newImei(data.id)">New</a>

      <p-dropdown [options]="status" (onChange)="onStatusChange($event, data.id)"></p-dropdown>




    </ng-template>

  </p-column> -->

</p-dataTable>


