<p-growl [(value)]="msgs"></p-growl>
<div class="loader" *ngIf="isLoading"><div class="loading-pulse"></div></div> 

<div class="wrapper">
  <h2>Set up Test Updates</h2>
  <form [formGroup]="testUpdate" (submit)="testUpdates()">

    <div class="row">
      <div class="form-group">
        <label for="">Partner Name</label>
        <p-dropdown [options]="partners" formControlName="partnerName"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isDeviceModel">
        <label for="">Device Model</label>
        <p-dropdown [options]="models" formControlName="DeviceModel"></p-dropdown>
      </div>
    </div>

    <div class="row" *ngIf="isCurrentBuild">
      <div class="form-group" *ngIf="isCurrentBuild">
        <label for="">Current Build Versions</label>
        <p-dropdown [options]="currentVersions" formControlName="CurrentBuildVersion"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isUpdate">
        <label for="">Updates Available</label>
        <p-dropdown [options]="updates" formControlName="UpdateName"></p-dropdown>
      </div>
    </div>

    <div class="form-group mx300">
      <label for="">IMEI1</label>
      <input type="text" formControlName="IMEI">
      <button *ngIf="showIMEIcheck" type="button" class="check-imei btn btn-success btn-small" (click)="fetchIMEIDetails()">Get IMEI Details</button>
    </div>
    <div class="IMEI_box" *ngIf="IMEI_details">
      <h4>Details</h4>
      <div class="IMEI_wrap">
      <ng-container *ngFor="let detail of IMEI_details | repover_obj">
          <div class="row">
            <label for="">{{ detail.key }}</label>
            <span class="value"> {{ detail.value }} </span>
          </div>
      </ng-container>
        <div class="row button-row right">
          <button class="btn btn-small btn-warning" type="button">Delete</button>
        </div>
      </div>
    </div>
    <div class="row button-row right">
      <button class="btn btn-success" type="submit" [disabled]="!testUpdate.valid">Test</button>
    </div>
  </form>
</div>