.IMEI_wrap {
    background: #F2F4F8;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    display: flex;
    max-width: 550px;
    flex-flow: row wrap;
}
.form-group {
    max-width: 900px;
}

.row {
    // margin: 0;
    // padding: 0;
    // border: 0;
    // margin-bottom: 10px;
    // flex: 0 0 50%;
    // label {
    //     font-weight: bold;
    //     text-transform: capitalize;
    //     margin-right: 10px;
    // }
    span.value {
        text-transform: capitalize;
    }
}



.check-imei {
    margin-left: 15px;
}

.row.button-row {
    flex: 0 0 100%;
}

.form-group.mx300 {
    max-width: 300px;
}

.IMEI_wrap {
.row {

margin: 0;
padding: 0;
border: 0;
margin-bottom: 10px;
flex: 0 0 100%;
display: flex;
align-items: center;
label {
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 10px;
    flex: 0 0 10rem;
}
}

}