<p-growl [(value)]="msgs"></p-growl>

<p-confirmDialog></p-confirmDialog>

<div class="loader" *ngIf="isLoading"><div class="loading-pulse"></div></div>

<div class="wrapper">
  <h2>Set up Test Updates</h2>
  <form [formGroup]="testUpdate" (submit)="testUpdates()">

    <div class="row">
      <div class="form-group">
        <label for="">Partner Name</label>
        <p-dropdown [options]="partners" formControlName="partnerName"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isDeviceModel">
        <label for="">Device Model</label>
        <p-dropdown [options]="models" formControlName="DeviceModel"></p-dropdown>
      </div>
    </div>

    <div class="row" *ngIf="isCurrentBuild">
      <div class="form-group" *ngIf="isCurrentBuild">
        <label for="">Current Build Versions</label>
        <p-dropdown [options]="currentVersions" formControlName="CurrentBuildVersion"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isUpdate">
        <label for="">Updates Available</label>
        <p-dropdown [options]="updates" formControlName="UpdateName"></p-dropdown>
      </div>
    </div>
    <!-- "AvailableUpdates": [{"Date": "","UpdateId": ""}]
    "DeviceStatus": [{'Date':"", 'UpdateId': "", 'Status': ""}]
    "OngoingUpdates": [{"Date": "","UpdateId": ""}]
    "CompletedUpdates": [{"Date": "","UpdateId": ""}]
  || !detail.key.DeviceStatus || !detail.key.OngoingUpdates || !detail.key.CompletedUpdates
  -->

    <div class="form-group mx300">
      <label for="">IMEI1</label>
      <input type="text" formControlName="IMEI">
      <button *ngIf="showIMEIcheck" type="button" class="check-imei btn btn-success btn-small" (click)="fetchIMEIDetails()">Get IMEI Details</button>
    </div>
    <div class="IMEI_box" *ngIf="IMEI_details">
      <h2>Details</h2>
      <div class="IMEI_wrap">
        <!-- {{IMEI_details | json}} -->
      <!-- <ng-container *ngFor="let detail of IMEI_details | repover_obj"> -->
          <ng-container *ngFor="let detail of IMEI_details | repover_obj">
              <ng-container *ngIf="detail.key === 'CompletedUpdates' || detail.key === 'DeviceStatus' || detail.key === 'AvailableUpdates' || detail.key === 'OngoingUpdates'">
                 <div class="row" *ngIf="detail.value.length > 0">
                   <label>{{detail.key}}</label>
                   <div class="collection">
                      <ul *ngFor="let item of detail.value">
                          <li>
                            <label for="">Date</label>
                            <span>{{ item.Date | date:'medium' }}</span>
                          </li>
                          <li>
                              <label for="">UpdateId</label>
                              <span>{{ item.UpdateId }}</span>
                          </li>
                       </ul>
                   </div>

                 </div>
              </ng-container>
              <ng-container *ngIf="detail.key !== 'AvailableUpdates'">
                    <ng-container *ngIf="detail.key !== 'CompletedUpdates'">
                        <ng-container *ngIf="detail.key !== 'OngoingUpdates'">
                            <ng-container *ngIf="detail.key !== 'DeviceStatus'">
                                <div class="row">
                                    <label for="">{{ detail.key }}</label>
                                    <span class="value"> {{ detail.value }} </span>
                                  </div>
                                </ng-container>
                        </ng-container>
                    </ng-container>

               </ng-container>


      </ng-container>
        <div class="row button-row right">
          <button class="btn btn-small btn-warning" type="button" (click)="deleteIMEI(IMEI_details.id)">Delete</button>
        </div>
      </div>
    </div>
    <div class="row button-row right">
      <button class="btn btn-success" type="submit" [disabled]="!testUpdate.valid">Test</button>
    </div>
  </form>
</div>

<p-dataTable [value]="devices" [rows]="10" [paginator]="true">

  <p-column field="partnerName" header="Partner Name"></p-column>
<p-column field="DeviceModel" header="DeviceModel"></p-column>

    <p-column field="IMEI1" header="IMEI1"></p-column>
    <p-column field="IMEI2" header="IMEI2"></p-column>
    <p-column field="ActivationDate" header="Activation Date"></p-column>

  <!-- <p-column field="id" header="Id" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column> -->
  <p-column header="Edit">
    <ng-template let-data="rowData" pTemplate="body">
      <div class="configWrap">
        <i class="fa fa-minus-circle"></i>
      </div>


    </ng-template>
  </p-column>
</p-dataTable>
