
  <div class="side-nav">
    <div class="logo">
      <img src="assets/logo.png" alt="">
    </div>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/dashboard/home']">Home</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/dashboard/register-oem']"> Register Oem</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/dashboard/register-model']"> Register Model</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/dashboard/generate-update']"> Generate Update </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/dashboard/push-update']"> Push on Production </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/dashboard/integration-validation']"> Integration and Validation</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/dashboard/analytics']">Analytics</a>
        </li>
<li *ngIf="isSuperUser()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
<a [routerLink]="['/dashboard/create-wiki']">Create Wiki</a>

</li>

<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
<a [routerLink]="['/dashboard/wiki']">Wiki</a>

</li>


<li>
<!-- <a href="" (click)="logOutUser()" *appHasRole="'user'">Logout</a> -->
<a href="" (click)="logOutUser()">Logout</a>



</li>

    </ul>
  </div>
  <div class="content_box">
    <router-outlet #o="outlet"></router-outlet>
  </div>
