<!-- <p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>

<div class="loader" *ngIf="isLoading"><div class="loading-pulse"></div></div>

<div class="wrapper">
  <h2>Push on Production</h2>
  <form [formGroup]="pushUpdate" (submit)="onPushUpdate()">

    <div class="row">
      <div class="form-group">
        <label for="">Partner Name</label>
        <p-dropdown [options]="partners" formControlName="partnerName"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isDeviceModel">
        <label for="">Device Model</label>
        <p-dropdown [options]="models" formControlName="DeviceModel"></p-dropdown>
      </div>
    </div>


    <div class="row" *ngIf="isCurrentBuild">
      <div class="form-group" *ngIf="isCurrentBuild">
        <label for="">Current Build Versions</label>
        <p-dropdown [options]="currentVersions" formControlName="CurrentBuildVersion"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isUpdate">
        <label for="">Updates Available</label>
        <p-dropdown [options]="updates" formControlName="UpdateName"></p-dropdown>
      </div>
    </div>

    <div class="row button-row right">
      <button class="btn btn-success" type="submit" [disabled]="!pushUpdate.valid">Push</button>
    </div>
  </form>
</div> -->



<!-- Delete Box-->
<p-dialog styleClass="fota-dialog delete" header="Delete" [(visible)]="showDelete">

  <p-editor [(ngModel)]="remarks" [style]="{'height':'160px'}"></p-editor>


  <div class="button_grp">
    <button (click)="delete()">Delete</button>
  </div>
</p-dialog>




<!-- Preview Box-->
<p-dialog styleClass="fota-dialog" header="Preview" [(visible)]="openPreview" [contentStyle]="{'overflow':'visible'}" minHeight="400px">

  <ul *ngIf="openPreview">

    <li>
      <strong> Partner Name:</strong> {{previewObj.partnerName }} </li>

    <li>
      <strong> Update Name:</strong> {{previewObj.UpdateName }} </li>


    <li>
      <strong> Device Model:</strong>{{previewObj.DeviceModel }} </li>


    <li>
      <strong> Base Version:</strong> {{previewObj.BaseVersion }} </li>


    <li>
      <strong> Available Version:</strong> {{previewObj.AvailVersion }} </li>


    <li>
      <strong> Date:</strong> {{previewObj.Date }} </li>
    <li>
      <strong> Build Status:</strong> {{previewObj.BuildStatus }} </li>

<li>

<li>
  <strong> Update Type:</strong> {{previewObj.UpdateType }} </li>


<li>


<strong> BuildRemarks:</strong><span class="align-left" [innerHTML]="previewObj.BuildRemarks"></span>
 </li>

<li>
<strong> Md5:</strong> {{previewObj.Md5 }} </li>

<li>
<strong> DownloadUrl:</strong> {{previewObj.DownloadUrl }} </li>


  </ul>
  <div class="button_grp">
    <button (click)="openPreview = false">Close</button>
  </div>
</p-dialog>


<!-- partnerName: data.partnerName, DeviceModel: data.DeviceModel, BaseVersion: data.BaseVersion, Date: data.Date, UpdateName:
data.UpdateName , UpdateType: data.UpdateType, AvailVersion: data.AvailVersion, id: data.id -->

<!-- Edit Box-->
<p-dialog styleClass="fota-dialog edit" header="Edit" [(visible)]="showEdit">
  <form *ngIf="showEdit">
    <div class="form-group readonly">
      <label for="">Partner Name</label>
      <input name="partnerName" type="text" [(ngModel)]="editObj.partnerName">
    </div>

    <div class="form-group readonly">
      <label for="">Base Version</label>
      <input name="BaseVersion" type="text" [(ngModel)]="editObj.BaseVersion">
    </div>

    <div class="form-group">
      <label for="">UpdateName</label>
      <input name="UpdateName" type="text" [(ngModel)]="editObj.UpdateName">
    </div>

    <div class="form-group">
      <label for="">Update Type</label>
      <p-dropdown name="UpdateType" [options]="update_types" [(ngModel)]="editObj.UpdateType"></p-dropdown>

    </div>

    <!-- <div class="form-group">
      <label for="">UpdateType</label>
<input name="UpdateType" type="text" [(ngModel)]="editObj.UpdateType">

    </div> -->

    <div class="form-group">
      <label for="">AvailVersion</label>
      <input name="AvailVersion" type="text" [(ngModel)]="editObj.AvailVersion">
    </div>

    <div class="form-group">
      <label for="">Device Model</label>
      <input name="DeviceModel" type="text" [(ngModel)]="editObj.DeviceModel">
    </div>

    <div class="form-group">
      <label for="">KeyHighlights</label>
      <input name="KeyHighlights" type="text" [(ngModel)]="editObj.KeyHighlights">


    </div>

    <div class="button-stack">
      <button class="pill pill-primary" (click)="triggerEdit()">Edit</button>
    </div>

  </form>
</p-dialog>


<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="Active">
<app-list [data]="dataForTable" [type]="'Active'" (action)="handleAction($event)"></app-list>

  </p-tabPanel>
  <p-tabPanel header="Expired">
    <app-list [data]="data" [type]="'Expired'" (action)="handleAction($event)"></app-list>

  </p-tabPanel>
</p-tabView>
