<p-growl [(value)]="msgs"></p-growl>
<div class="loader" *ngIf="isLoading">
  <div class="loading-pulse"></div>
</div>

<!-- <div class="editModal" *ngIf="iseditConfig"> -->
  
<div class="editModal" *ngIf="iseditConfig">
  <button type="button" class="cancel_button btn btn-warning btn-small" (click)="dismissModal()">Close</button>
  <form [formGroup]="editConfigForm" (submit)="saveConfig()">
    <div class="form-group">
      <label>Partner Name</label>
      <input type="text" formControlName="partnerName">
    </div>
    <div class="config-block" formGroupName="config">
      <div class="form-group">
        <label>Url</label>
        <input type="text" formControlName="Url">
      </div>
      <div class="form-group">
        <label>Button Name</label>
        <input type="text" formControlName="btnName">
      </div>
      <div class="row">
          <div class="block inline-group" *ngFor="let option of optionsPanel">
            <h4>{{ option.label }}</h4>
            <div class="form-group with-radio" *ngFor="let choice of option.map">
              <input id="{{choice.field}}-{{option.control}}" type="radio" [formControlName]="option.control" [value]="choice.value">
              <label for="{{choice.field}}-{{option.control}}"> {{choice.field}} </label>
            </div>
          </div>
        </div>
    </div>
    <div class="row button-row right">
      <button class="btn btn-success" type="submit" [disabled]="!editConfigForm.valid">Save</button>
    </div>
  </form>
</div>


<div class="wrapper">


  <h2>Register OEM</h2>

  <form [formGroup]="oemRegister" (submit)="registerOem()">
    <div class="form-group">
      <label>Partner Name</label>
      <input type="text" formControlName="partnerName">
    </div>
    <h3>Config</h3>

    <div class="config-block" formGroupName="config">

      <div class="row">
        <div class="form-group">
          <label>Url</label>
          <input type="text" formControlName="Url">
        </div>
        <div class="form-group">
          <label>Button Name</label>
          <input type="text" formControlName="btnName">
        </div>
      </div>

      <div class="row">
        <div class="block inline-group" *ngFor="let option of optionsPanel">
          <h4>{{ option.label }}</h4>
          <div class="form-group with-radio" *ngFor="let choice of option.map">
            <input id="{{choice.field}}-{{option.control}}" type="radio" [formControlName]="option.control" [value]="choice.value">
            <label for="{{choice.field}}-{{option.control}}"> {{choice.field}} </label>
          </div>
        </div>
      </div>

    </div>
    <div class="row button-row right">
      <button class="btn btn-success" type="submit" [disabled]="!oemRegister.valid">Save</button>
    </div>

  </form>
</div>

<h2>Available Partners</h2>
<div class="wrapper">


  <p-dataTable [value]="partners">
    <p-column field="partnerName" header="Partner Name" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <!-- <p-column field="id" header="Id" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column> -->
    <p-column header="Config">
      <ng-template let-data="rowData" pTemplate="body">
        <div class="configWrap">
          <ul class="configBlock">
            <li *ngFor="let item of data.config | repover_obj">
              <label for="">{{ item.key }}:</label>
              <span>{{ item.value }}</span>
            </li>
          </ul>
          <button class="btn btn-small btn-success edit-config" (click)="editConfig(data)">Edit Config</button>
        </div>


      </ng-template>
    </p-column>
  </p-dataTable>
</div>
