<p-growl [(value)]="msgs"></p-growl>

<!-- <p-confirmDialog header="Confirm" icon="fa fa-question-circle" width="425" #cd>
  <div class="message">Sure!! You want to Delete</div>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog> -->

<p-confirmDialog></p-confirmDialog> 

<div class="loader" *ngIf="isLoading">
  <div class="loading-pulse"></div>
</div>

<div class="wrapper">

  <h2>Generate Update</h2>


  <form [formGroup]="generateUpdate" (submit)="OnGenerateUpdate()">

    <div class="row">
      <div class="form-group">
        <label for="">Partner Name</label>
        <p-dropdown [options]="partners" formControlName="partnerName"></p-dropdown>
      </div>

      <div class="form-group">
        <label for="">Device Type</label>
        <p-dropdown [options]="devices" formControlName="DeviceType"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isDeviceModel">
        <label for="">Device Model</label>
        <p-dropdown [options]="models" formControlName="DeviceModel"></p-dropdown>
      </div>

      <div class="form-group" *ngIf="isCurrentBuild">
        <label for="">Base Version</label>
        <p-dropdown [options]="baseVersions" formControlName="BaseVersion"></p-dropdown>        
      </div>
      
      <div class="form-group">
        <label for="">Available Version</label>
        <input type="text" formControlName="AvailVersion">
      </div>

    </div>

    <div class="row">
        <div class="form-group">
            <label for="">Update Name</label>
            <input type="text" formControlName="UpdateName">
          </div>
<!-- 
          <div class="form-group">
              <label for="">ChangeLog</label>
              <textarea formControlName="ChangeLog"></textarea>
            </div> -->

      
      <div class="form-group">
          <label for="">Key HighLights</label>
          <input type="text" formControlName="KeyHighLights">
        </div>
      
        <div class="form-group">
            <label for="">File</label>
            <p-fileUpload auto="auto" customUpload="true" name="demo[]" (uploadHandler)="onBasicUpload($event)" #logo></p-fileUpload>
          </div>
      
    </div>

    <div class="row">
      
        <div class="form-group">
            <label for="">Update For</label>
            <p-dropdown [options]="modes" formControlName="updateFor"></p-dropdown>        
          </div>
          
      

      
    </div>


    <div class="row button-row right">
      <button class="btn btn-success" type="submit" [disabled]="!generateUpdate.valid">Save</button>

    </div>
  </form>
</div>

<div class="wrapper">
  <h2>Available Updates</h2>
  
  <p-dataTable [value]="updates">
    <p-column field="partnerName" header="Partner Name" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="AvailVersion" header="Available Version" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="BaseVersion" header="BaseVersion" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column header="Date" [filter]="true" filterPlaceholder="Search">
        <ng-template let-data="rowData" pTemplate="body">
          {{data.Date | date }}
        </ng-template>
      </p-column>
    <p-column field="ChangeLog" header="Change Log" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="DeviceModel" header="Device Model" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="DeviceType" header="Device Type" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>

    <p-column field="DownloadSize" header="Download Size" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="DownloadUrl" header="Download Url" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="KeyHighLights" header="Key HighLights" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>

    <p-column field="Md5" header="Md5" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column field="UpdateName" header="UpdateName" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
    <p-column>
      <ng-template let-data="rowData" pTemplate="body">
        <button class="btn btn-warning" (click)="deleteUpdate(data.id)">Delete</button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
