<p-growl [(value)]="msgs"></p-growl>
<div class="loader" *ngIf="isLoading">
  <div class="loading-pulse"></div>
</div>


<div class="wrapper">
  <h2>Create Wiki</h2>
  <form [formGroup]="wikiForm" (submit)="submit()">
    <div class="wikiBlock" formArrayName="queryBlock" *ngFor="let wiki of wikis.controls; let i = index; let first=first; let last = last">

      <div class="form_group_wrapper" [formGroupName]="i" #inputRow>
        <div class="form-group">
          <label for="">Question</label>
          <input type="text" formControlName="question">
        </div>
        <div class="form-group">
          <label for="">Answer</label>
          <p-editor formControlName="answer" [style]="{'height':'160px'}"></p-editor>
        </div>
        <div class="action_buttons row">
          <button *ngIf="!last" class="btn btn-warning" type="button" (click)="removeBlock(i)">Delete Block</button>
        </div>
      </div>

    </div>

    <div class="buttonRow">
  <button class="btn btn-primary" type="button" (click)="addBlock()">Add Block</button>
  <button class="btn btn-success" type="submit">Save</button>
    </div>

  </form>

</div>

