
<div class="wrapper">

  <div id="container">

      <div class="selection">
        <div class="partner" *ngIf="partners1?.length > 1">
          <label for="">Select Partner</label>
          <p-dropdown [options]="partners1" [(ngModel)]="selectedPartner1" (onChange)="onPartnerChange1($event)"></p-dropdown>
        </div>
        <div class="model">
          <label for="">Select Model</label>
          <p-multiSelect [options]="activatedDevices" [(ngModel)]="selectedActivatedDevices" (onChange)="handleLegendChange1($event)"></p-multiSelect>
        </div>
      </div>
      <chart [options]="deviceActivatedConf" (load)="saveInstance1($event.context)"></chart>

  </div>

  <div id="container">
    <div class="selection">
        <div class="partner" *ngIf="partners2?.length > 1">
      <label for="">Select Partner</label>
      <p-dropdown [options]="partners2" [(ngModel)]="selectedPartner2" (onChange)="onPartnerChange2($event)"></p-dropdown>
      </div>
      <div class="model">
      <label for="">Select Model</label>
      <p-multiSelect [options]="devices_forupdatesPushed" [(ngModel)]="selected_devices_forupdatesPushed" (onChange)="handleLegendChange2($event)"></p-multiSelect>
    </div>
    
    </div>
    <chart [options]="updatesPushedConf" (load)="saveInstance2($event.context)"></chart>
    </div>

  <div id="container">
    <div class="selection">
        <div class="partner" *ngIf="partners3?.length > 1">
            
      <label for="">Select Partner</label>
      <p-dropdown [options]="partners3" [(ngModel)]="selectedPartner3" (onChange)="onPartnerChange3($event)"></p-dropdown>
      </div>
      <div class="model">
          
      <label for="">Select Model</label>
      <p-multiSelect [options]="devices_forupdatesCompleted" [(ngModel)]="selected_devices_forupdatesCompleted" (onChange)="handleLegendChange3($event)"></p-multiSelect>
    </div>
  </div>
  <chart [options]="updatesCompletedConf" (load)="saveInstance3($event.context)"></chart>
  
  </div>

  <div id="container">

    <div class="selection">
        <div class="partner" *ngIf="partners4?.length > 1">
      <label for="">Select Partner</label>
      <p-dropdown [options]="partners4" [(ngModel)]="selectedPartner4" (onChange)="onPartnerChange4($event)"></p-dropdown>
    </div>
    <div class="model">
      <label for="">Select Model</label>
      <p-multiSelect [options]="activatedDevices" [(ngModel)]="selected_devices_forAPK" (onChange)="handleLegendChange4($event)"></p-multiSelect>
    </div>
    </div>
    <chart [options]="APKConf" (load)="saveInstance4($event.context)"></chart>
    
  </div>


  <div id="container">

    <div class="selection">
        <div class="partner">
      <label for="">Select Partner</label>
      <p-multiSelect [options]="deviceModels" [(ngModel)]="selected_deviceModels" (onChange)="handleLegendChange5($event)"></p-multiSelect>
    </div>
    </div>
    <chart [options]="deviceModelsConf" (load)="saveInstance5($event.context)"></chart>
    
  </div>
</div>
