*,*:after, *:before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

app-dashboard {
  display: flex;
}
.side-nav {
  flex: 0 0 17.85rem;
  background: #222034;
  li{
    transition: background 0.3s ease, color 0.4s ease-in;
    &:hover {
      background: rgba(255, 99, 71, 0.5);
      & a {
        color: rgba(255, 255, 255, 0.65);
      }      
    }
    &.active {
      background: tomato;
      a {
        color: white;
      }
    }
  }

  a {
    min-height: 3.21rem;
    padding: 0.85rem 3.57rem 0.85rem 1.42rem;
    display: block;
    color: #b8beca;
  }
}
.content_box {
  flex: 1 1 auto;
  background: #F2F4F8;
  padding: 1rem;
  max-width: calc(100% - 17.85rem);
}

form.login {
  max-width: 400px;
  margin: 0 auto;
}

main, app-dashboard {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #514d6a;
  font-weight: 400;
  line-height: 1.5;
  &{
    position: relative;
    &.white-mask:after{
      content: '';
      background: rgba(255, 255, 255, 0.7);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }
}
input {
  &:focus {
    outline: none;
  }

}

* {
  outline: none;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  & > label {
    margin-right: 10px;
    flex: 0 0 auto;
  }
  input, textarea {

    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &[type="text"]:focus {
      color: #464a4c;
      background-color: #fff;
      border-color: #0190fe;
      -webkit-appearance: none !important;
    }
  }
}
.form-group.with-radio  {
  margin-bottom: 1rem;
  display: flex;
  position: relative;
  margin-right: 12px;
  & > label {
    flex: 0 0 auto;
    color: rgb(169, 174, 184);
    max-width: 100%;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem 1rem;
    transition: border-color 0.3s ease, color 0.4s ease;
    border-radius: 2px;
    margin-right: 0;
    &:hover {
      color: #514d6a;
      border-color: #514d6a;
      cursor: pointer;
    }
  }

  & > input {
    position: absolute;
    left: -9999px;
    visibility: hidden;
    &:checked + label {
      border-color: #514d6a;
      color: #514d6a;
    }
  }
}

.wrapper {
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-bottom: 2rem;
  max-width: 96.25rem;
  overflow: visible;
}

.inline-group {
  display: flex;
  flex-flow: row wrap;
  h4 {
    display: block;
    flex: 0 0 100%;

  }
}

.btn {
  border-radius: 100px;
  -webkit-appearance: button;
  outline: none !important;
  box-shadow: none !important;
  transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
  padding: 0.57rem 1.14rem;
  line-height: 1.7;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  user-select: none;
  border: 1px solid transparent;
color: #fff;
  font-size: 1rem;
  &-success {
    background-color: #46be8a;
    border-color: #46be8a;
  }
}

button:disabled {
  background-color: #acb7bf;
  border-color: #acb7bf;
  cursor: not-allowed;
}

.button-row.right {
   display: flex;
   justify-content: flex-end;
}

.ui-dropdown {
  min-width: 250px;
}

.ui-datatable table {
  table-layout: auto;
}

h2 {
  margin-top: 0;
}

th {
  font-weight: 600;
  text-align: left !important;
}

button {
  cursor: pointer;
}

.row {
  display: flex;
  margin: 2rem 0;
  &:not(:nth-last-child(1)) {
    border-bottom: 1px solid #e3e3e3;
  }
}

.config-block {
  border: 1px solid #e3e3e3;
  padding: 1rem;
  border-radius: 2px;
}

// .form-group {
//   &:not(:nth-last-child(1)) {
//   margin-right: 10px;
// }
// }

.ui-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
}

.ui-dropdown .ui-dropdown-trigger .fa {
  margin-top: 8px;
  &:before {
    color: #acb7bf;
  }
}

.ui-dropdown label.ui-dropdown-label {
  color: rgba(81, 77, 106, 0.85);
  text-transform: capitalize;
}

.ui-state-highlight {
  background: #222034;
  color: #b8beca;
}

.ui-dropdown-panel .ui-dropdown-list {
  padding: 0;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-dropdown-panel .ui-dropdown-item {
  padding: 5px 10px;
  text-transform: capitalize;
}

.ui-dropdown.ui-state-focus {
  box-shadow: none;
}

.ui-widget-content {
  top:33px;
}

.wrapper {
  border-top: 2px solid #222034;
}

td {
  text-transform: capitalize;
}

.loader {
  background: rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.content_box {
  position: relative;
}

.ui-growl-item {
  color: white;
}

app-generate-update {
.ui-widget-content {
  top:0;
}
}

@keyframes pulse {	
  50% { 
    background: white;
  } 
}


.loading-pulse {
margin-top: 50vh;
position: relative;
width: 6px;
height: 24px;
background: rgba(255, 255, 255, 0.2);
-webkit-animation: pulse 750ms infinite;
animation: pulse 750ms infinite;
-webkit-animation-delay: 250ms;
animation-delay: 250ms;
}

.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 6px;
  background: rgba(255, 255, 255, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
  animation: pulse 750ms infinite;
}

.loading-pulse:before {
  left: -12px;
}

.loading-pulse:after {
  left: 12px;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}


.form-group {
  position: relative;
  &.has-error {
     & > label {
          color: #a94442;
      }
      .input_block > input {
          border-color: #ebccd1;
          background: #f2dede;
          &:focus {
              border-color: #ebccd1;
          }
      }
      & > input {
          border-color: #ebccd1;
          background: #f2dede;
          &:focus {
              border-color: #ebccd1;
          }
      }
      .ui-dropdown label.ui-dropdown-label, .ui-dropdown .ui-dropdown-trigger {
          border-color: #ebccd1;
          background: #f2dede;
      }
  }
}

.err_msg {
  color: #a94442;
  font-size: 0.65rem;
  text-align: right;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 15px;
}

.logo {
  width: 150px;
  height: auto;
  margin: 0 auto 1rem auto;
}


login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  form {
    padding: 0;
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  }
}

.logoWrap {
  background: #2B303B;
  margin-bottom: 2rem;
  color: white;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.global-search {
  text-align: right;
  input {
    padding: 0.5rem;
  }
}

.ui-fileupload-content {
  .ui-messages {
    display: none !important;
  }
}

.btn-small {
padding: 0.37rem 0.9rem;
font-size: 0.75rem;
}

.btn-warning {
background: #d9534f;
}

chart {
  margin-bottom: 1.5rem;
  display: block;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
}

#container {
  display: block;
  chart {
    display:block;
    float:left;
  }
  p-multiselect {
    float: left;
    margin-left: 20px;
  }
}


.side-nav {
  background: linear-gradient(180deg,#1dc7ea 0,#4091ff);
  a {
    color: white;
  }
  li.active {
    background: hsla(0,0%,100%,.23);
  }
  li:hover {
    background: hsla(0,0%,100%,.13);
    a {
      background: transparent;
    }
  }
}

.wrapper {
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 0 0 1px rgba(63,63,68,.1);
  border-radius: 4px;
  & > h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 5px;
  }
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 300px;
  min-width: 300px;
  margin-right: 20px;
  label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9a9a9a;
  }
  &.mx300 {
    max-width: 300px;
  }
}
.form-group.with-radio {
  min-width: auto;
}
.form-group.with-radio > label {
  font-size: 0.85rem;
}

h2 {
  margin-bottom: 10px;
}

.row {
  margin: 1rem 0;
}

.ui-dropdown label.ui-dropdown-label {
  min-height: 36px;
  display: flex;
  align-items: center;
  /* padding: 0; */
  margin: 0;
  color: #464a4c;
  font-size: 1rem;
}

.ui-dropdown:not(.ui-state-disabled):hover {
  border-color: none;
}

.ui-state-highlight {
  background: linear-gradient(180deg, #1dc7ea 0, #4091ff);
  color: white;
}

.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
  border-color: transparent;
  
  background: linear-gradient(180deg, #1dc7ea 0, #4091ff);
  color: white;
}

.ui-dropdown {
  min-width: 300px !important;
}

.ui-column-title {
  border-bottom-width: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: #9a9a9a;
  font-weight: 400;
  padding-bottom: 5px;
}
.ui-datatable th.ui-state-default {
  background: transparent;
}

.ui-datatable .ui-column-filter {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  border: 0;
}

.ui-datatable tbody {
  border-left: 0;
  border-right: 0;
}

table {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  border-radius: 4px;
}

.ui-datatable tbody > tr.ui-widget-content {
  border-color: #d9d9d9;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
}

.ui-datatable .ui-datatable-data > tr > td {
  font-size: 14px;
  color: #333;
  font-weight: 100;
  padding: 12px 8px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
  background-color: #f9f9f9;
}

//  table > tbody>tr:nth-of-type(odd) {
//   background-color: #f9f9f9 !important;
// }