.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

li {
    margin-bottom: 15px;
    label {
        font-weight: bold;
        margin-right: 10px;

    }

}

h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.tokenWrap {
    max-width: 600px;
    background: #F2F4F8;
    padding: 1rem;
  }
